@import "tailwindcss";

 :root {
  --background: #0d1b2a;  
  --foreground: #e0e0e0;  
  --panel: #27324C;
  --highlightedBackground: #E0E7FF;
  --highlightedText: #1C1C1C;
  --text:#FFFFFF

}

 @media (prefers-color-scheme: light) {
  :root {
    --panel: #27324C;
    --background: #354366;
    --foreground: #171717;
    --highlightedText: #1C1C1C;

  }
}

 body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-panel: var(--panel); 
  --color-highlightedBackground: var(--highlightedBackground);
  --color-highlightedText: var(--highlightedText);
  --color-text: var(--text);

}

 
 